doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    a(href="/update-cobj") + Create New

    if data.length
      table(border="1")
        thead
          tr
            th Name
            th Brand
            th Model
            th Actions
        tbody
          each item in data
            tr
              td= item.properties.name
              td= item.properties.marca
              td= item.properties.modelo
              td
                a(href=`/update-cobj?id=${item.id}`) 📝 Edit
    else
      p No items found. Click "Create New" to add one.